div.background {
    display: flex;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear5.png?alt=media&token=ba18f0e4-f934-42a9-89c1-25881fcc0612);
}

div#main {
    display: inline-block;
    background-color: rgb(39,39,39);
    border: 1px solid white;
}

hr#divider {
    margin: 15px 0px 15px 0px;
}

app-login-to-save-main {
    margin: 15px;
}