#greyband {
    top: auto;
    left: auto;
}

.linklistlabel {
    cursor: pointer;
    padding-left: 15px;
}

#outerdrop {
    background-color: #454545;
}

img#downUp {
    width: 25px;
    cursor: pointer;
    position: relative;
    top: 5.5px;
    background-color: #454545;
}

div#hider {
    width: calc(100vw - 40px);
}