#greyband {
    top: auto;
    left: auto;
}

div.sidebarlab {
    cursor: pointer;
}

div#outer {
    background-color:  #454545;
}

img#downUp {
    width: 25px;
    cursor: pointer;
    position: relative;
    top: 5.5px;
    background-color:  #454545;
}
