<div *ngIf="postList">
    <app-link-list
    [list]="postList.Data"
    [horizontal]="false"
    class="NewFeed">

    <!-- UPdate Post -->
        <ng-template let-item #Item>
            <article class="textblock" tabindex="-1">
                <span id="name"><b>Poster: </b> {{ item.Item.Poster }}</span>
                <div id="right"><b>Date: </b> {{ item.Item.Date }}, {{ item.Item.Time }}</div><br>
                <div style="clear: both;"></div>
                <hr>
                <br>
                <div [innerHTML]="item.Item.Body"></div>
                <div *ngIf="item.Item.Links">
                    <img [src]="item.Item.Links" [alt]="item.Item.AltText">
                </div>
                <div id="right" *ngIf="item.Item.Edited === true">(Edited)</div>
                <div style="clear: both;"></div>
            </article>
        </ng-template>

        <!-- Space between posts -->
        <ng-template lit-i #Decoration>
            <br>
        </ng-template>
    </app-link-list>
</div>
