.userDataDetails {
    width: calc(100% - 16px);
    position: relative;
}

::ng-deep .userDataDetails form {
    width: 100%;
    background-color: rgb(39,39,39);
    overflow: hidden;
}
::ng-deep .userDataDetails form textarea {
    width: 100%;
}