html {
  width: 100vw;
}

div#splatter{
  overflow: hidden;
  position: relative;
  background-position: 500px 0px;
  background-repeat: repeat;
  background-color: rgb(53, 53, 53);
  background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear5.png?alt=media&token=ba18f0e4-f934-42a9-89c1-25881fcc0612);
}

/*header components*/
div#fullblock {
  position: relative;
  max-width: 900px;
  background: #454545;
}

div#topblock {
  padding-left: 7px;
}

div#chapselect {
  position: relative;
  float: left;
  padding-top: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}

div.dropdowns {
  float: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px
}

select#chap {
  max-width: 250px;
}


div.break {
  height: 100%;
  border-left: 3px solid white;
}

div#viewradio {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-width: 175px;
}

div#radiobox {
  display: inline-block;
  padding: 14px;
  right: 0px;
  border-left: solid white 3px;
  background-color: rgb(49,49,49);
}

div#bookmark1 {
  float: left;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

hr {
  max-width: 898px;
  margin: 0px;
  text-align: left;
  padding: 0px;
}

span#notes {
  font-size: 12px;
  font-weight: normal;
}

.loading {
  position: fixed;
  width: 250px;
  height: 250px;
  z-index: 15;
  border: 4px solid rgba(0,0,0,.2);
  border-top-color: whitesmoke;
  left: calc(50vw - 120px);
  top: calc(50vh - 120px);
}

div#cover {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  justify-content: left;
  background: #aaaaaa;
  padding: 0px;
}

/* Footer components*/
div#footbox {
  position: relative;
  text-align: center;
  max-width: 900px;
  padding: 0;
  background: #454545;
  color: white;
}

button {
  z-index: 10;
  margin-bottom: 17px;
  margin-top: 17px;
}

span#help {
  z-index: 0;
  padding-right: 7px;
  position: absolute;
  left: 7px;
  bottom: 2px;
  font-size: 12px;
  font-weight: normal;
}

span#footspin {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
}

/*final notice*/
div#info {
  background-color: #454545;
  position: absolute;
  top: 0px;
  left: 900px;
  width: 450px;
  padding-left: 7px;
  padding-right: 7px;
  border-left: 3px solid white;
}

label {
  border: 0px;
  padding: 0px;
}

div#bookmark2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}