.linklistcontainer {
    position: sticky;
    position: -webkit-sticky;
    display: flex; /* NEVER CHANGE THIS */
    float: left;
    top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #454545;
    border-right: 3px solid white;
    /* border-bottom: 3px solid white; */
    padding-top: 0px;
}

#greyband {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  z-index: 1;
}

ul.menubar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menuitem {
  margin: 0px;
  padding: 0px;
}

.linklistlabel {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
  margin: 0px;
  background-color: #616161;
  position: relative;
  z-index: 2;
}


/* List */
::ng-deep app-link-list.options .linklist {
  list-style-type: circle;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  z-index: 2;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 3px;
  padding-left: 31px;
}

/* Final Elements */
::ng-deep app-link-list.options a.linklistelement {
  display: inline-block;
  /* height: inherit; */
  width: calc(100% - 8px);
  color: white;
  padding: 7px 4px 7px 4px;
  margin: 0px;
  margin: 0px;
  border-bottom: 2px solid rgb(82, 82, 82);
}

::ng-deep app-link-list.options a.linklistelement.selected {
  background-color: #8b8b8b;
  border-bottom: 2px solid #8b8b8b;
}

::ng-deep app-link-list.options  a.linklistelement:hover {
  background-color: #8b8b8b;
  border-bottom: 2px solid #8b8b8b;
}

::ng-deep app-link-list.options a.linklistelement:active {
  background-color: #242424;
  border-bottom: 2px solid #242424;
}

::ng-deep app-link-list.options a.linklistelement:focus {
  background-color: #8b8b8b;
  border-bottom: 2px solid #8b8b8b;
}

hr {
  position: relative;
  z-index: 2;
}







/* List */
::ng-deep app-master-link-list.options .linklist {
  list-style-type: circle;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  z-index: 2;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 3px;
  padding-left: 31px;
}

/* Final Elements */
::ng-deep app-master-link-list.options a.linklistelement {
  display: inline-block;
  height: inherit;
  width: calc(100% - 8px);
  color: white;
  padding: 7px 4px 7px 4px;
  margin: 0px;
  margin: 0px;
  border-bottom: 2px solid rgb(82, 82, 82);
}

::ng-deep app-master-link-list.options a.linklistelement.selected {
  background-color: #8b8b8b;
  border-bottom: 2px solid #8b8b8b;
}

::ng-deep app-master-link-list.options  a.linklistelement:hover {
  background-color: #8b8b8b;
  border-bottom: 2px solid #8b8b8b;
}

::ng-deep app-master-link-list.options a.linklistelement:active {
  background-color: #242424;
  border-bottom: 2px solid #242424;
}

::ng-deep app-master-link-list.options a.linklistelement:focus {
  background-color: #8b8b8b;
  border-bottom: 2px solid #8b8b8b;
}


::ng-deep app-master-link-list ul.menubar {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  margin: 0px;
  padding: 0px;
}

::ng-deep app-master-link-list  .menuitem {
  display: list-item;
  margin: 0px;
  padding: 0px;
}
