form {
    border: white 1px solid;
    max-width: 800px;
    padding: 6px;
}

div.question {
    background-color: rgb(49, 49, 49);
    padding: 7px;
    border: 1px solid whitesmoke;
}

label {
    border: 0px;
    white-space: pre-line;
}

p {
    margin: 10px;
    padding: 0px;
}

h3 {
    font-weight: normal;
}