
div#splatter {
    background-position: 800px 0px;
    background-repeat: repeat;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear3.png?alt=media&token=caecce26-e337-42b6-a31e-8af4fdef6cb3);
}

div#holdme {
    margin:0px;
    padding:7px;
    padding-right: 15px;
    max-width:1000px;
}

div.buttonbank {
    text-align: center;
}

/*images*/
img#map {
    max-width: 100%;
}

img#shift {
    max-width: 100%;
}

img#insig {
    max-width: 100%;
}
