<div class="compheader" role="header">
    <h2 class="compheader">An Introduction to Arecace</h2>
</div>
<hr>

<div id="splatter">

    <div class="holdme" role="main" *ngFor="let intro of mainText">
        <div class="textblock">
            <div class="textContainer">
                <h3>{{ intro.Title }}:</h3>
                <p>{{ intro.Text }}</p>
                <div class="buttonbank">
                    <div class="navver" *ngFor="let route of intro.RouterLinks; let i = index">
                        <a class="navver" [routerLink]="route">
                        {{ intro.RouterLinksNames[i] }}</a>
                    </div>
                </div>
            </div>

            <div *ngIf="intro.Image === true" class="imageContainer">
                    <img  src="">
            </div>
        </div><br>
    </div>
</div>
