div#Bio {
    height: 490px;
    min-width: 340px;
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
}

img#BioImage {
    max-height: 450px;
}

div#textblockcontainer {
    max-width: 900px;
}

div.compheader {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
    border-bottom: rgb(206, 206, 206) 2px solid;
    margin-bottom: 5px;
}

h2.compheader {
    padding: 10px;
    margin: 0px;
    line-height: 1.25;
}



app-bookmark {
    align-self: stretch;
}