<div>
  
  <!-- Character image -->
  <div id="Bio">
      <div *ngIf="loading===true" class="loading"></div>
      <img id="BioImage" [hidden]="loading" [src]="char.Links[0]" (load)="loading=false"
      [alt]="char.FirstName+' '+char.LastName">
      <a [hidden]="loading" [href]="char.Links[1]" target="_blank">download larger version</a>
  </div>

  <br>
  <div id="textblockcontainer">

    <!-- Bio facts -->
      <div class="firstblock">
          <p class="textblock"><b>Class: </b> {{ char.SMClass }}</p>
          <p class="textblock"><b>Occupation: </b> {{ char.Occupation }}</p>
          <p class="textblock"><b>Nationality: </b>{{ char.Country }}, {{ char.Territory }} Territory</p>
          <p class="textblock"><b>Ethnicity: </b>{{ char.Ethnicity1 }}/{{ char.Ethnicity2 }}</p>
          <p class="textblock"><b>Age: </b> {{ char.Age }}, born {{ char.Year }}{{ char.Era }}, {{ char.Qt }} {{ char.Day }}, ({{ char.Zodiac }})</p>
          <p class="textblock"><b>Height: </b>{{ char.Cm }} cm</p>
          <b>Distinguishing Marks: </b>{{ char.DistinguishingMarks }}<br>
      </div>
      <br>
      <div style="clear: both"></div>

      
    <!-- Personality -->
      <div class="textblock">
        <b>Personality: </b>{{ char.Personality }}<br>
      </div>
      <br>
      

    <!-- Philo/Motivation/Goals -->
      <div class="textblock">
        <p class="textblock"><b>Philosophy: </b>{{ char.Philosophy }}</p>
        <p class="textblock"><b>Motivations/Goals: </b>{{ char.MotivationsGoals }}</p>
        <p class="textblock"><b>Strengths: </b>{{ char.Strengths }}</p>
        <p class="textblock"><b>Weaknesses: </b>{{ char.Weaknesses }}</p>

    <!-- Family and Source Abilities -->
        <p><b>Source Abilities: </b>{{ char.SourceAbilitiesFormatted }}</p>

        <span><b>Family in Story: </b>{{ char.RelationsFormatted }}</span>
      </div>
      <br>
      

    <!-- Background -->
      <div class="textblock">
        <div *ngIf="char.BriefBackground !== ''" class="toggler">
          <input type="radio" class="toggler" name="abouter" id="Brief"
          (click)="changeBio(false)" [checked]="!FullBio">
          <label class="toggler" for="Brief"
          tabindex="0" (keyup.enter)="changeBio(false)">
            Brief</label>
          <input type="radio" class="toggler" name="abouter" id="Full"
          (click)="changeBio(true)" [checked]="FullBio">
          <label class="toggler" for="Full"
          tabindex="0" (keyup.enter)="changeBio(true)">
            Full</label>
        </div>
        <div *ngIf="char.BriefBackground !== ''">
          <br>
        </div>
        <b>Background: </b>
        <span *ngIf="!FullBio">{{ char.BriefBackground }}</span>
        <span *ngIf="FullBio">{{ char.FullBackground }}</span>
      </div>
      <div style="clear: both"></div>
      <br>

      <!-- MISC References -->
      <div class="textblock" *ngIf="char.Links[2]">
        <b>Other References:</b><br>
        <app-grid
        [collect]="char.References"
        ></app-grid>
      </div><br>
</div>

<router-outlet></router-outlet>
