
<div id="outer">
  <h3>{{ contentType }}</h3>
  
  <div id="pickItems">
      <img #left id="left" src="assets/svgs/back.svg"
        alt="Prev" (click)="scroll(false)" tabindex="0">

      <nav *ngIf="display$ | async as display">        
        <ul #itemBand>
          <li *ngFor="let member of display">
            <app-new-item
            [item]="member"
            ></app-new-item>
          </li>
        </ul>
        <!-- <a class="strokeme displayItem" *ngFor="let member of display"
          [style.background-image]="'url('+member.Image+')'"
          [routerLink]="member.Link">
          {{ member.Name }}
        </a> -->
      </nav>

      <img #right id="right" src="assets/svgs/back.svg"
        alt="Next" (click)="scroll(true)" tabindex="0">
  </div>


  <a *ngIf="contentLink" id="seeAll" [routerLink]="contentLink">
    {{ footerText }}
  </a>
</div>