.top {
    min-height: 80vh;
}

div.compheader {
    position: relative;
    display: flex;
    justify-content: stretch;
}

div#outer {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
}

div#imageholder {
    max-width: 1000px;
    max-height: 1000px;
    align-items: center;
    justify-content: center;
}

img#main {
    max-width: inherit;
    max-height: inherit;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

div.textblock {
    max-width: 1000px;
}

.caption {
    max-width: 1000px;
    box-sizing: border-box;
}

figure {
    background-color: rgb(116, 116, 116);
}

div#compstretcher {
    margin-right: 7px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

app-bookmark {
    align-self: stretch;
    flex-grow: 0;
}
