<main class="top" id="mainContent">
    
    <!--Header-->
    <div class="compheader">
        <div id="compstretcher">
            <h2 class="compheader">{{ ref.Topic }}</h2>
        </div>
        <app-bookmark
        [path]="path"
        type="Favorites"
        [name]="name"
        [bookmarkImage]="false"
        ></app-bookmark>
    </div>
    <hr>

    <!--Body-->
    <div id="outer">
        <figure>
            <div id="imageholder">
                <div *ngIf="loading===true" class="loading"></div>
                <img class="imgcaption" id="main" [hidden]="loading"
                alt="" [src]="ref.Links[0]" (load)="loading=false">
            </div>
    
            <figcaption class="caption">{{ ref.Caption }}</figcaption>
        </figure>

        <div class="textblock">{{ ref.FullText }}</div>
    </div>

    <br>
</main>
