<div id="top">
    
    <!--Header-->
    <header>
        <div class="compheader" role="header">
            <div id="compstretcher">
                <h2 class="compheader">{{ ref.Topic }}</h2>
            </div>
            <app-bookmark
            [path]="path"
            type="Favorites"
            [name]="name"
            [bookmarkImage]="false"
            ></app-bookmark>
        </div>
    </header>
    <hr>

    <!--Body-->
    <div id="outer">
        <div id="imageholder">
            <div *ngIf="loading===true" class="loading"></div>
            <img class="imgcaption" id="main" [hidden]="loading"
            alt="" [src]="ref.Links[0]" (load)="loading=false">
        </div>

        <p class="caption">{{ ref.Caption }}</p>
        <div class="textblock">{{ ref.FullText }}</div>
    </div>

    <br>
</div>
