div#outer {
    border: 1px white solid;
    margin: 7px;
    max-width: 750px;
}

h3 {
    background-color: #454545;
    margin: 0px;
    padding: 7px;
}

div#headerNav {
    background-color: #454545;
}

div#holder {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}