<div id="outer" #holder (window:resize)="onResize()">
  <div id="title">
      Survey Result Stats:
  </div>

  <svg [attr.height]="height" width="100%"
    style="background-color: rgb(49, 49, 49);">

    <!-- percentage bar -->
    <rect height="100%" width="75" [attr.x]="width-75"
      style="fill: rgb(100, 100, 100)">
    </rect>

    <!-- Main Graph -->
    <svg height="100%" y="0">
      <ng-container *ngFor="let key of Stats.Keys; let i = index">
        <!-- background bar -->
        <rect height="10" [attr.width]="(width-120) +5"
          x="15" [attr.y]="24 + i*45" 
          style="fill:rgb(65, 63, 63); border: solid black 1px">
        </rect>

        <!-- actual percentage bar -->
        <rect height="10" [attr.width]="(width-120) * Stats.Counts[i]"
          x="15" [attr.y]="24 + i*45" 
          style="fill:rgb(190, 190, 190); border: solid black 1px">
        </rect>

        <!-- bar label -->
        <text [attr.y]="18 + i*45"
          x="5">
          {{ key }}
        </text>
        
        <!-- percentage label -->
        <text [attr.y]="25 + i*45"
          [attr.x]="width-68">
          {{ Stats.CountsDisplay[i] }}%
        </text>
        
        <ng-container *ngIf="i !== 0">
            <line x1="0" x2="500"
              [attr.y1]="i*45"
              [attr.y2]="i*45"
              style="stroke: rgba(255, 255, 255, .3)">
            </line>
        </ng-container>
      </ng-container>
    </svg>
  </svg>
  <div id="bottom">
      Completed {{ Stats.Max }} times.
  </div>
</div>