<form [formGroup]="Form">
  <h3>Date Converter:</h3>
  <hr>
  <select formControlName="Start"
  (change)="onSwitch($event.target.value)">
    <option [selected]="true" value="earth">
      Earth </option>
    <option value="arecace">
      Arecace </option>
  </select>

  <select formControlName="Month" (change)="onMonthChange($event.target.value)">
      <option *ngFor="let month of months; let i = index" [value]="i">
        {{ months[i] }}
      </option>
  </select>

  <select formControlName="Day" (change)="onAnyChange()">
    <option *ngFor="let day of days; let i = index" [value]="i">
        {{ i+1 }}
      </option>
  </select> <br>

  <output aria-live="polite">
      Converts to: {{ convertedDate }}.
  </output>
</form>
