<main class="background">
    <div *ngIf="authorized === true; then authenticated else guest"></div>
</main>


<!-- User NOT logged in -->
<ng-template #guest>
    <div id="outerloggedoutholder">
        <div id="loggedoutholder">
        <div [innerHTML]="loggedoutText"></div>
        <app-login></app-login>    
        </div>
    </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <!-- Header -->
    <div class="compheader">
        <h3 class="compheader">Welcome Back, {{ user.userName }} (ID#{{ user.ID }})
            <div id="useractions">
                <nav id="special" aria-label="User-Actions-Navigation">
                    <span *ngFor="let action of actions">
                        <a class="icon" *ngIf="action.show === true"
                        [routerLink]="action.link" tabindex="0">
                            <img class="icon" [src]="action.src" [alt]="action.alt">
                        </a>
                    </span>
                </nav>
                <br>
                <app-logout ></app-logout>
            </div>
        </h3>
    </div>
    <hr>


    <!-- Website Annoucements -->
    <section id="announcement">
        <h4>Announcements:</h4>
        <div id="innerText" [innerHTML]="loggedinText"></div>
        <hr>
    </section>


    <section>

        <!-- Favorited data -->
        <app-pick-up class="UserData"
        [user]="user"
        ></app-pick-up>
    
        <!-- The Vast Majority of the Data -->
        <div *ngFor="let datum of savedData" class="UserData">
            <app-data-options
            [names]="datum.name"
            [title]="datum.title"
            [link]="datum.link"
            [type]="datum.type"
            [data]="datum.data"
            [edit]="datum.edit"
            ></app-data-options>
        </div>
    </section>
    <div style="clear: both;"></div>

</ng-template>
