div#useractions {
    margin-right: 15px;
    float: right;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 150px;
    background-color: orchid;
}

app-logout {
    white-space: nowrap;
}

div#outer {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear2.png?alt=media&token=03185fb3-b90c-4635-98c7-5e045e6b2579);
}


.UserData {
    float: left;
}

::ng-deep h4 {
    margin: 0px;
    font-size: 24px;
}

h3.compheader {
    margin: 0px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

div#announcement {
    background-color: rgb(49, 49, 49);
}

div#innerText {
    padding: 15px;
}