<div *ngIf="authorized === true; then authenticated else guest"></div>


<!-- User NOT logged in -->
<ng-template #guest>
    <div [innerHTML]="loggedoutText"></div>
    <app-login></app-login>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div id="outer" *ngIf="user">
        <button id="logout" (click)="auth.logout()">Logout</button>
        <h3>Welcome Back, {{ user.userName }}, ID#{{ user.ID }}</h3>
        <div [innerHTML]="loggedinText"></div>
        <hr>

        <div id="UserComponents">
            <app-pick-up
            [user]="user"
            ></app-pick-up>
    
            <div *ngFor="let name of names">
                <app-fan-characters
                [names]="name[0]"
                [title]="name[1]"
                ></app-fan-characters>
            </div>

            <!-- <app-fan-characters
            *ngIf="user.Characters"
            [names]="user.Characters"
            title="Your Fan Characters"
            ></app-fan-characters>
    
            <app-fan-characters
            *ngIf="user.SAcalcs"
            [names]="user.SAcalcs"
            title="Your Source Affinity Data"
            ></app-fan-characters>
    
            <app-fan-characters
            *ngIf="user.Surveys"
            [names]="user.Surveys"
            title="Your Survey Data"
            ></app-fan-characters> -->
        </div>        
        <hr>

        <button (click)="setShowAccountInfo()">Show Account Info</button>

        <app-user-info
        [user]="user"
        *ngIf="showAccountInfo === true"
        ></app-user-info>

      </div>
  </ng-template>
