button#logout {
    float: right;
    position: sticky;
}

div#outer {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear2.png?alt=media&token=03185fb3-b90c-4635-98c7-5e045e6b2579);
}


div#UserComponents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 100vh;
    align-content: flex-start;
}

::ng-deep h4 {
    padding: 7px;
    margin: 0px;
}

h3.compheader {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    padding-left: 5px;
}
