<div id="splatter">
  <br>
  <!-- INTRODUTCTION -->
  <div class="textblock">
    <h3>What is Arecace?</h3>
      <p>Arecace is an extensive story and world building project.  Its genre best fits into the urban fantasy/magical realism bucket, where magical elements are derived from and integrated with real-world concepts with a high science fiction style attention to detail.  The main story plotline is almost entirely a political thriller, but the story is told largely form the perspective of watching people with common goals but disparate methods butting heads while individuals with entirely different end goals try to put aside their differences to get an immediate goal accomplished.  In short, everyone fights with everyone, and people change sides whenever it suits them.</p>
      <p>My goal with the project is to use my story to explore and understand different mindsets;  while my story has a clear theme of “this is what happens when you create others,” I have no desire to be preachy; I try to make even my most in-world racist of characters likeable and understandable, even if one does not (and probably should not) agree with their mindset and actions.  The point is to figure out why people act the way they do without simply demonizing them.  Themes I try to deal with include civil rights, both overt and apathetic racism the idea of when is a “thing” the problem or when are “people misusing the thing” the problem, and government corruption and balance of power.  Please note that I am very open to and seeking critique on my work to do better!</p>
  </div>

<!-- UPDATE FEED -->
  <div id="updatefeed">
    <div id="updatefeedheader">
      News Feed
      <hr>
    </div>
      <app-updatefeed></app-updatefeed>
  </div>



<!-- QUICK START GUIDE -->
  <div id="quickstart">
    <h3 id="qsheader">Quick Start Guide:</h3>
    <hr>
    <div id="buttonbox">
        <button class="strokeme" id="large"
        routerLink="/world/introduction">
        {{ buttonText[0] }}</button>
        
        <div id="smallbuttons">
            <button class="strokeme" id="small"
            routerLink = "/story/Scripts/Arc1/Chapter0">
            {{ buttonText[1] }}</button><br>
            <button class="strokeme" id="small2"
            routerLink="/comic/latest">
            {{ buttonText[2] }}</button>
        </div>
        <button class="strokeme" id="large2"
        routerLink="/playground">
        {{ buttonText[3] }}</button>
    </div>
  </div>


  <div style="clear:both"></div>
  <br>
</div>
