<div id="outer">
  <h4>Pick up where you left off!</h4>
  
  <p *ngIf="!user.Comic  && !user.Script && !user.Narrative">
    You have not saved your place anywhere.
  </p>

  <p>
    <a *ngIf="user.Comic" 
        [routerLink]="user.Comic">
          Comic Chapter {{ comFrag[0] }}, Page {{ comFrag[0] }}
    </a>    
  </p>

  <p>
    <a *ngIf="user.Script"
    [routerLink]="user.Script">
        Script Chapter {{ scriFrag[0] }}
    </a>    
  </p>

  <p>
    <a *ngIf="user.Narrative"
    [routerLink]="user.Narrative">
        Narrative Series {{ narFrag[0] }}, Section {{ narFrag[0] }}
    </a>
  </p>

</div>