<div id="outer">
  <h4>Your Bookmarks</h4>
  <hr>
  
  <div *ngIf="dataExists === true; then display else notsaved">
  </div>

  <ng-template #display>
    <p *ngFor="let type of data">
      <span>{{ type.Type }}:</span>
      <span class="linker" *ngFor="let link of type.Data; let i = index">
        <button class="Exs" (click)="onDelete(type.Type, i)">x</button>
        <a [routerLink]="'/'+ link.Link">
            {{ link.Name }}
        </a><br>
      </span>
    </p>
  </ng-template>

  <ng-template #notsaved>
    <p>
      You have not saved your place anywhere.
    </p>
  </ng-template>

</div>