<app-scroll-frame
[Title]="'Your Bookmarks'">
<div id="outer">
  <div *ngIf="dataExists === true; then display else notsaved"></div>
</div>
</app-scroll-frame>


<!-- <div id="outer">
  <h4>Your Bookmarks</h4>
  <hr> -->

  <ng-template #display class="outer">
    <p *ngFor="let type of data">
      <span>{{ type.Type }}:</span>
      <span class="linker" *ngFor="let link of type.Data; let i = index">
        <button class="Exs" (click)="onDelete(type.Type, i)">x</button>
        <a [routerLink]="'/'+ link.Link">
            {{ link.Name }}
        </a><br>
      </span>
    </p>
  </ng-template>

  <ng-template #notsaved class="outer">
    <p>
      You have not saved your place anywhere.
    </p>
  </ng-template>

<!-- </div> -->