div#outer {
    background-color: #454545;
    width: 400px;
    padding: 7px;
}

a {
    color: rgb(220,220,220);
    width: 100%;
    padding: 0px 5px 0px 5px;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover {
    background-color: rgb(100,100,100);
}

a:active {
    background-color: rgb(180,180,180);
}

.linker {
    display: flex;
}