img {
    max-width: 100%;
    max-height: 100%;
}
div.textblock {
    border: 1px solid whitesmoke;
    margin: 10px;
}

div#right {
    float: right;
}

hr {
    border: 1px dotted white;
}

span#name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}