<div *ngIf="postList$ | async as postList" tabindex="0">
    <div *ngFor="let post of postList">

      <div role="article" class="textblock">
          <b>Poster: </b> <span id="name">{{ post.Poster }}</span>
          <div id="date"><b>Date: </b> {{ post.Date }}, {{ post.Time }}</div><br>
          <div style="clear: both;"></div>
          <hr>
          <br>
          <div [innerHTML]="post.Body"></div>
          <div *ngIf="post.Links">
            <img [src]="post.Links" [alt]="post.AltText">
          </div>
      </div>
      <br>

    </div>

</div>
