<div #frame id="bookframe" (window:resize)="onResize()">
    <main [hidden]="loading === true ? true : false">

<!-- Sub header -->
        <div #main>
            <h3>{{ story.metaData.Title }}</h3>
            <div role="tooltip" #tool class="tooltip" tabindex="0">Details 
                <div class="tooltiptext" [style.width.px]="leftspace">
                    Synopsis: {{ story.metaData.Synopsis }}
                    <br><br>
                    Wordcount: {{ story.metaData.WordCount }}
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <hr>
        
<!-- Text area -->            
        <article [innerHTML]="story.text"></article>
    
    </main>
</div>
