<div #frame id="bookframe" (window:resize)="onResize()">

    <div [hidden]="loading" role="main" tabindex="0">
        <div #main>
            <h3>{{ story.metaData.Title }}</h3>
            <div #tool class="tooltip">Details
                <div class="tooltiptext" [style.width.px]="leftspace">
                    Synopsis: {{ story.metaData.Synopsis }}
                    <br><br>
                    Wordcount: {{ story.metaData.WordCount }}
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div id="audioHolder">
            <mat-basic-audio-player
            audioUrl="https://drive.google.com/uc?id=1P8_DwdNobTY1QU8qGcjtLnH1wIVaUevR&authuser=0&export=download"
            title="" [autoPlay]="false" muted="muted"
            displayTitle="false" displayVolumeControls="true" ></mat-basic-audio-player>
        </div>
        <br>
        <hr>
            
        <div id="maintext" [innerHTML]="story.text"></div>            
    </div>

</div>
