<main id="background">
    <div *ngIf="ImageData">

        <!-- Favorite when there is no descirption or artist credit -->
        <section id="everFave" aria-label="Image-Header"
        *ngIf="!ImageData.Artist  && !ImageData.Description">
            {{ name }}
            <app-bookmark
            [path]="path"
            type="Favorites"
            [name]="name"
            [bookmarkImage]="false"
            ></app-bookmark>
        </section>

        <!-- IMAGE! Joy! -->
        <div id="imageHolder" #image (window:resize)="onResize()">
            <div class="loading" *ngIf="loading===true"></div>
            <img [src]="ImageData.Links[1]"
            [alt]="ImageData.AltText ? ImageData.AltText : ''"
            (click)="switchView()"
            (load)="onLoad()"
            [style.max-width]="full === true ? 'none' : '100%'"
            [style.cursor]="maxed === true ? 'default'
                            : full === true ? 'zoom-out'
                            : 'zoom-in'">
        </div>

        <!-- Artist Credit -->
        <section *ngIf="ImageData.Artist" aria-label="Artist-Credit">
        
            <!-- link out! -->
            <div *ngIf="ImageData.ArtistLink" id="othersArt">
                <a [href]="ImageData.ArtistLink" target="_blank">
                    Artist: {{ ImageData.Artist }}, {{ ImageData.Date }}</a>
            </div>

            <!-- No link out -->
            <div *ngIf="!ImageData.ArtistLink" id="othersArt">
                Artist: {{ ImageData.Artist }}, {{ ImageData.Date }}
            </div>
    
          </section>
    </div>


    <section class="textblock" *ngIf="ImageData.Description"
    aria-labelledby="Image-Description">
        <h3>
            <span>
                {{ ImageData.Name }}
                <div id="date">{{ ImageData.Date }}</div>
            </span>

            <app-bookmark
            [path]="path"
            type="Favorites"
            [name]="name"
            [bookmarkImage]="false"
            ></app-bookmark>
        </h3>
        <hr><br>

        <p> {{ ImageData.Description }}</p>
    </section>

</main>
