div#accountInfo {
    border: 1px white solid;
    max-width: 400px;
    background-color: #454545;
    margin: 7px;
}

div#accountInfo p {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
}

h4 {
    padding: 7px;
    margin: 0px;
}