div#background {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear2.png?alt=media&token=03185fb3-b90c-4635-98c7-5e045e6b2579);
}

div.accountInfo {
    border: 1px white solid;
    max-width: 400px;
    margin: 7px;
}

div#accountInfo p {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
}

h4 {
    padding: 7px;
    margin: 0px;
}
input {
    width: 95%;
    margin: 3px;
    font-size: 14px;
}
button {
    float: right;
    margin: 3px;
}

hr {
    border: whitesmoke 1px solid;
}

span {
    padding-left: 15px;
}