/*sortbar*/
h2 {
    float: left;
    padding-top: 25px;
}

h3 {
    float: right;
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
}

div#sort {
    float: right;
    font-weight: 100;
    margin-left: 15px;
    padding: 5px;
}


label {
    padding: 2px;
    margin: 0px;
    border: 0px;
}


div#background {
    background-color: rgb(53, 53, 53);
    background-image: url("https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear.png?alt=media&token=620e725e-ea44-4670-88a2-210c372066b2");
}
