<div id="background">

  <!--Header-->
  <div class="compheader">
    <h2 class="compheader">
      <!-- Main header -->
      <span>Bestiary</span>
      
      <!-- Display controls -->
      <div id="selections">

        <!-- Sort options -->
        <fieldset>
          <legend>Sort By:</legend>
          <div *ngFor="let option of sortOptions">
              <input type="radio" name="sorter"  [id]="option"
              [checked]="option === 'Biome'" (click)="onSort(option)">
              <label [for]="option">{{ option }}</label>
          </div>
        </fieldset>
  
        <!-- show Preview -->
        <app-slider
        [name]="'Show Preview'"
        ></app-slider>
      </div>
      
    </h2>
  </div>
  <div style="clear:both"></div>
  <hr><br>

  <!-- Image Grid -->
  <app-grid [collect]="beasts$ | async"></app-grid>


  <!--Blow up version-->
  <router-outlet></router-outlet>
</div>