div#background {
    background-color: rgb(53, 53, 53);
    background-image: url("https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear.png?alt=media&token=620e725e-ea44-4670-88a2-210c372066b2");
}

h2.compheader {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0;
    align-content: center;
    align-items: center;
}

h2.compheader span {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: 7px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

div#selections {
    display: flex;
    margin: auto;
}

div#selections fieldset {
    float: left;
    border: 0px;
    border-left: 2px white solid;
    font-weight: 100;
    padding: 5px;
}

div#selections fieldset legend {
    padding-top: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}

app-slider {
    display: flex;
    border-right: 2px white solid;
    border-left: 2px solid white;
    justify-self: center;
}

label {
    padding: 2px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}
