<!--Header-->
<div id="background">

  <div class="compheader" role="header">

    <!-- Sort options -->
    <div id="sort">
      <div *ngFor="let option of sortOptions">
          <input type="radio" name="sorter"  [id]="option"
          [checked]="option === 'Biome'"
          (click)="onSort(option)">
          <label [for]="option">{{ option }}</label>
          <br>
      </div>
    </div>

    <!-- Sort header -->
    <h3>Sort</h3>
  
    <!-- Main header -->
    <div id="centerheader">
      <h2 class="compheader">Bestiary</h2>
    </div>
    <div style="clear:both"></div>
  </div>
  <hr>
  <br>

  <!-- Image Grid -->
  <app-grid [collect]="beasts$ | async"></app-grid>


  <!--Blow up version-->
  <router-outlet></router-outlet>
</div>