/*Form styling*/
form {
    position: relative;
    margin: 3px;
    padding: 7px;
    width: 800px;
    max-width: calc(100vw - 60px);
    overflow: visible;
    border: 1px solid white;
    float: left;
}

div.form {
  max-width: 100%;
  margin: 3px;
  padding: 4px;
  border: 1px solid white;
  float: left;
}

h2.formstyle {
  padding: 5px;
  margin: 0px;
}

input.fileupload {
  width: 400px;
  max-width: calc(100% - 200px);
}

textarea {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  max-width: calc(100% - 7px);
}

option {
  font-size: 18px;  
}

input {
  font-size: 18px;
}

input.short {
  width: 50px;
  text-align: center;
}

input.medium {
  width: 130px;
}

input.long {
  max-width: 600px;
  width: 200px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

button[type="button"] {
  float: right;
}

app-formButtons {
  padding-bottom: 10px;
}

div.WYSIWYG {
  white-space: pre-line;
  border: 1px solid white;
  float: left;
  width: 400px;
  max-width: 100%;
  margin:3px;
  padding:4px;
}

label {
  border: 0px;
}