<div class="background">
    <div id="date">
        Date: {{ arecaceDate }}
    </div>
    <div class="compheader">
        <h2 class="compheader">Playground</h2>
    </div>
    <hr>

    <br><br>
    <app-show-newest
        contentType = "Art by Others"
        collectionName = "OthersArt"
        contentLink = "othersart">
    </app-show-newest>

    <br><br>
    <div class="navver" role="nav" id="quickNav" *ngFor="let link of links">
            <a class="navver" [routerLink]="link.Link">{{ link.Title }}</a>
    </div>

    <br><br>
    <app-calculators></app-calculators>
</div>

