<div class="background">
    <div class="compheader">
        <h2 class="compheader">Playground</h2>
      </div>
      <hr>

      <div id="date">
        Date: {{ arecaceDate }}
      </div>

  <div style="border: 1px solid white; padding: 7px; max-width: 300px">
      This page is still under construction!  For now, new features will be loose on this page, but they will eventually have their own pages.  I’m currently working on the following features:
      <ul>
      <li><s>Earth to Arecace date converter</s></li>
      <li><s>Source Affinity Calculator</s></li>
      <li>Character maker</li>
      <li><s>Art by others</s></li>
      <li><s>“which Guild would hire you” survey</s></li>
      </ul>
  </div>
</div>
<button routerLink="surveys">Surveys</button><br>
<button routerLink="othersart">Art by Others</button><br>

<app-date-converter></app-date-converter>

<app-source-affinity-calculator></app-source-affinity-calculator>
