<br/>
<div>
Sorry!  The playground is going to be a part of release 2.  Features that I hope to soon add include:
  <ul>
    <li>Character Template</li>
    <li>Guild Survey</li>
    <li>Commission/Trade/Gift Gallery</li>
    <li>Source Affinity Cost Calculator</li>
    <li>Date on Arecace (current and calculated)</li>
    <li>Nomadic Translator?</li>
    <li>Login + Access to content you have purchased?</li>
  </ul>
I am not going to begin development on release 2 until I've defended my thesis.
</div>