div#top {
    min-height:80vh;
}

div#outer {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
}

div#imageholder {
    max-width: 1000px;
    max-height: 1000px;
}

img#main {
    display: block;
    max-width: inherit;
    max-height: inherit;
    object-fit: contain;
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 400px;
}

div.textblock {
    max-width: 1000px;
}

p.caption {
    max-width: 1000px;
    box-sizing: border-box;
}
