
<!-- <a [routerLink] = "[route.snapshot['_routerState'].url]" fragment="mainContent" >Skip to main content</a> -->

<!-- Images enabled tester -->
<img id="flag" #flag src="assets/tester.png" alt="">



<!-- HEADER AND BANNER -->
<header role="banner" id="banner">
    <h1 id="websiteTitle">Arecace</h1>

    <!-- Primary Navigation -->
    <nav id="headerNav" aria-label="primary-navigation">
         <app-link-list class="homepageNav"
         [list]="headerLinkList.Data">
             <!-- Item Template -->
             <ng-template let-item #Content>
                 <div class="navverContainer">
                     <div class="navver">
                        {{ item.ListName }}
                     </div>
                 </div>
             </ng-template>
         </app-link-list>
    </nav>
</header>
<hr>



<router-outlet></router-outlet>



<!-- FOOTER -->
<hr>
<footer role="contentinfo">

    <!-- Footer Navigation -->
    <nav aria-label="footer-navigation">
        <app-link-list class="homepageNav"
        [list]="footerLinkList.Data">

            <!-- Item Template -->
            <ng-template let-item #Content>
                    <span class="footerLink">
                    {{ item.ListName }}
                    </span>
            </ng-template>
            <!-- Divider Template -->
            <ng-template let-i #Decoration>
                <span id="footerDivider" *ngIf="i !== footerLinkList.Data.length-1"><b>|</b></span>
            </ng-template>
        </app-link-list>
    </nav>


    <!-- Copyright info -->
    <p id="footer">
        &copy;kArA Redwing: Website 2018-{{ year }}, Content 2004-{{ year }}
    </p>
</footer>