
<img id="flag" #flag src="assets/tester.png" alt="">

<!-- HEADER AND BANNER -->
<div id="myHeader">
    <div id="banner" role="banner"> 
        <h1 id="title">Arecace</h1>
        <nav id="header" role="navigation">
            <div *ngFor="let link of headerLinkList" class="navver">
                    <a class="navver" [routerLink]="link.link">{{ link.name }}</a>
            </div>
        </nav>
    </div>
</div>
<hr>

<router-outlet></router-outlet>

<!-- FOOTER -->
<hr>
<div id="footer" role="navigation">
    <span *ngFor="let link of footerLinkList; let i = index">
        <a class="footer" [routerLink]="link.link"> {{ link.name }} </a>
        <span *ngIf="i !== footerLinkList.length-1">
            &nbsp;<b>|</b>&nbsp;
        </span>
    </span><br><br>
    
    &copy;kArA Redwing: Website 2018-{{ year }}, Content 2004-{{ year }}
    <br>
</div>