<div class="compheader" role="header">
  <h2 class="compheader">Worldbuilding Index</h2>
</div>
<hr>

<!--Button navigation-->
<div id="splatter">
  <div id="mapped" role="navigation">

    <nav id="world">
      <app-image-button *ngFor="let section of navInfo"
      [Link]="section.link"
      [Name]="section.name"
      [Src]="section.src"
      ></app-image-button>
      <!-- <div class="imagebutton" *ngFor="let section of navInfo"
      [id]="section.link">
        <a class="imagebutton" [routerLink]="section.link">
          <span class="strokeme imagebutton">{{ section.text }}</span>
        </a>
      </div> -->
    </nav>
    
  </div>
</div>
