/*super background image*/
div#splatter {
    display: flex;
    justify-content: center;
    background-position: 200px 0px;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear2.png?alt=media&token=03185fb3-b90c-4635-98c7-5e045e6b2579);
}

div.compheader {
    display: flex;
    justify-content: center;
}

/*the div image that hangs out behind the main content buttons*/
div#mapped {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2FArecace%20Shipping%20Routes.png?alt=media&token=ade78c73-a4f3-45a4-be8f-388a44fb9570);
    background-repeat: repeat-y;
    width: 100%;
    background-position: right;
    max-width: 1100px;
}

/* Navigation */
nav#world {
    max-width:700px;
}
