<div class="compheader">
    <h2 class="compheader">Frequently Asked Questions:</h2>
</div>
<hr>

<!-- QUESTIONS -->
<div id="splatter">
    <br>
    <ul>
        <li *ngFor="let question of mainText; let i = index">
            <div class="liStyle">
                {{ i+1 + '.' + ' ' + question.Question }}
                <p>
                    <span class="inList" [innerHTML]="question.Answer"></span>
                    <span *ngIf="question.RouterLink">
                            <a [routerLink]="question.RouterLink"> here</a>.
                    </span>        
                </p> 
            </div>
            <br><br>
        </li>
    </ul>

</div>