section {
    border-left: 2px solid white;
    display: flex;
    flex-flow: column;
    width: 90px;
    padding: 3px;
    margin-left: 7px;
    justify-content: center;
}
.slideTwo {
    width: 80px;
    height: 30px;
    background: #333;
    margin: 5px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
label {
    display: block;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: absolute;
    top: -3px;
    z-index: 1;
    left: -3px;
    right: 7px;
    background: #fcfff4;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
label:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    background: #333;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}
input[type=checkbox] {
      visibility: hidden;
}
input:checked + label {
        left: 50px;
}
input:checked + label:after {
          background: orange;
}
span#slideTwoText {
    display: flex;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}