<form #form [formGroup]="Form">
    <h2 class="formstyle">Chapter Form:</h2>
    <hr>

    <p>Arc:
      <select formControlName="Arc">
        <option *ngFor="let arc of Arcs"
          [value]="arc">
          {{ arc }}
        </option>
      </select>
    </p>

    <p>Chapter Name: <input type="text" formControlName="Name"></p>
    
    <p>ID: <input type="number" formControlName="ID"></p>
    
    <p>Index: <input type="number" formControlName="Index"></p>
    
    <p>Message: <input type="text" formControlName="Message"></p>

    <p><button type="button" (click)="addPage(true)">+</button>
      <button type="button" (click)="addPage(false)">-</button></p>
      
    <div *ngFor="let pages of dummy;let i = index">
        Page {{ i+1 }}:
        <input class="fileupload" type="file"
        (change)="updatePage(i, $event)">
    </div>
    
    <app-form-buttons></app-form-buttons>
</form>
