<div class="textblock">
  <h3>Well, this isn't good...</h3>
 
  <p>If you ended up here, then one of a few things have happened:</p>
 
  <ol>
    <li>Your connection is sketchy and cannot reach the google cloud server
        in a timely fashion.  If you bring up the developer console on
        desktop/laptops (F12 key) and see a red error message telling you
        that your connection is not healthy, that is the issue.
        Try again later or move somewhere with better reception!
    </li><br>
    <li>You lost contact with the internet at some point and the webpage is not
        appropriately re-establishing a connection.  Go back a page and refresh!
    </li><br>
    <li>Google cloud is misbehaving.  If your connection is fine,
        please send a support request!
    </li>
  </ol>

  <p><a routerLink="contact">Contact Me About Server Issues</a><br>
    <span id="info">Please tell me what page you tried
      to navigate to in the request!</span>
  </p>
</div>
