<div class="textblock">
  <h3>Well, this isn't good...</h3>
 
  <p *ngIf="service === undefined">Checking your connection...!</p>
  <p *ngIf="service !== undefined">TegaBot tested whether you could connect to the server and found that
    <span *ngIf="service===true"> your connection was fine.</span>
    <span *ngIf="service===false"> a connection could not be established.</span><br>
    <button (click)="checkAgain()">Test again?</button>
  </p>
  <br><br>
 
  <p>If your connection to the server is faulty, the problem could be your internet connection.  If that is fine, then google's servers may be having an issue (feel free to contact me).  If your connection to the server is fine, you may have discovered a bug in my code.  Definitely contact me in this case!</p>

  <p><a routerLink="/contact">Contact Me About Navigation/Connection Issues</a><br>
    <span id="info">Please tell me what page you tried
      to navigate to in the request!</span>
  </p>
</div>
