<nav id="biggerouter">

    <div #back id="biggerback" [routerLink]="['../']"></div>
   
    <!-- Left and Right arrow "buttons" -->
    <img #left id="left" src="assets/svgs/back.svg" alt="Prev"
    (click)="onArrow(-1)" tabindex="0" role="button">

    <img #right id="right" src="assets/svgs/back.svg" alt="Next"
    (click)="onArrow(1)" tabindex="0" role="button">    

    <!-- Image and Text -->  
    <div id="content" (window:resize)="onResize()">
      <div class="imgcaption" id="aligner"> 
        
          <div *ngIf="loading" class="loading"></div>
            <img #bigger id="bigger"
            [hidden]="loading"
            [src]="bigUrl"
            [alt]="activeMember.AltText ? activeMember.AltText : ''"
            (load)="onResize()">    

        <div *ngIf="activeMember.Description" class="textblock"
        [style.height.px]="textHeight"
        [hidden]="loading">
          <h3>{{ activeMember.Name }}</h3>
          {{ activeMember.Date }}<br><br>
          {{ activeMember.Description }}
          <br><br>
        </div>

      </div>
      <div *ngIf="activeMember.Artist">
        
        <div *ngIf="activeMember.ArtistLink" id="othersArt">
            <a [href]="activeMember.ArtistLink" target="_blank">
                Artist: {{ activeMember.Artist }}, {{ activeMember.Date }}</a>  
        </div>
        <div *ngIf="!activeMember.ArtistLink" id="othersArt">
            Artist: {{ activeMember.Artist }}, {{ activeMember.Date }}
        </div>

      </div>

      <div id="Back">
          <a [routerLink]="['../']">Go Back</a>
      </div>

      <!-- Link out to full image -->
      <div id="SeeFull">
          <a [href]="bigUrl" target="_blank">Download</a>
      </div>

    </div>

</nav>