<article id="biggerouter" cdkTrapFocus>
    <div #back id="biggerback" [routerLink]="['../']"></div>


        <!-- Left and Right arrow "buttons" -->
        <img #left id="left" src="assets/svgs/back.svg" alt="Prev-Left"
        (click)="onArrow(-1)" tabindex="0" role="button"
        (keydown)="onArrowKeydown($event, -1)"
        cdkFocusRegionStart>
    
        <img #right id="right" src="assets/svgs/back.svg" alt="Next-Right"
        (click)="onArrow(1)" tabindex="0" role="button"
        (keydown)="onArrowKeydown($event, 1)">

        


      <!-- Bookmark when not special -->
      <div id="vanillaFave"
      *ngIf="!activeMember.Description && !activeMember.Artist && !loading">
          <app-bookmark
          [path]="path"
          type="Favorites"
          [name]="activeMember.Name"
          [bookmarkImage]="false"
          ></app-bookmark>
      </div>




    
      <!-- Image and Text -->  
      <div id="content" (window:resize)="onResize()">

        <div class="imgcaption" id="aligner">
          <!-- Link out to full image -->
          <div id="linkHolder">
            <div id="SeeFull" [hidden]="loading">
              <a [routerLink]="['Download']">Full Size</a>
            </div>

            <!-- go back to grid -->
            <div id="Back" [hidden]="loading"
            cdkFocusRegionEnd>
                <a [routerLink]="['../']">Go Back</a>
            </div>

            <div *ngIf="loading" class="loading"></div>
            <img #bigger id="bigger"
            [hidden]="loading"
            [src]="bigUrl"
            [alt]="activeMember.AltText ? activeMember.AltText : ''"
            (load)="onResize();onLoad()">
          </div>

            <div *ngIf="activeMember.Description && !loading" class="textblock"
            [style.height.px]="textHeight">

          <!--Show/hide info-->
            <img *ngIf="!loading" tabindex="0"
            role="button" aria-label="Show-Hide-Image-Description"
            id="downUp" src="assets/svgs/back.svg" alt=""
            [style.transform]="'rotate(' + rotation + 'deg)'"
            (keydown)="onTwistieKeydown($event)"
            (click)="showHideDescription()">

            <section id="textblockinner" *ngIf="!loading"
            [style.display]="this.showDescription ? 'block' : 'none'">
              <h3>
                <app-bookmark
                [path]="path"
                type="Favorites"
                [name]="activeMember.Name"
                [bookmarkImage]="false"
                ></app-bookmark>
                {{ activeMember.Name }}
              </h3>
              <p>
                {{ activeMember.Date }}
              </p><br>
              <p>
                {{ activeMember.Description }}
              </p>
              <br>
            </section>
            
          </div>

        </div>
        
      <section *ngIf="activeMember.Artist">
        <div *ngIf="activeMember.ArtistLink" id="othersArt">
            <a [href]="activeMember.ArtistLink" target="_blank">
                Artist: {{ activeMember.Artist }}, {{ activeMember.Date }}</a>  
        </div>
        <div *ngIf="!activeMember.ArtistLink" id="othersArt">
            Artist: {{ activeMember.Artist }}, {{ activeMember.Date }}
        </div>

      </section>

    </div>

</article>