<form [formGroup]="Form">
  <h2 class="formstyle">Update Form:</h2>
  <hr>

  <p>Poster: <input formControlName="Poster" type="text"></p>

  <p>Body:<br/> <textarea formControlName="Body" rows="6" cols="65"></textarea></p>      
  
  <app-upload-main
  name="Optional Image"
  [ID]="0"
  [hasThumb]="false"
  [Settings]="imageSettings"
  ></app-upload-main>

  <p>Alt Text:<br/>
  <textarea formControlName="AltText" rows="4" cols="66"></textarea></p>

  <app-form-buttons></app-form-buttons>
</form>
  