<h3>Add/Edit Words</h3>

<!-- Radio buttons -->
<div>
    <label class="standard" for="Simple">Simple</label>
    <input id="Simple" type="radio" name="options"
    checked="true" [disabled]="disableSwitchWord"
    (click)="pickWordType(true)">
    
    <label class="standard" for="Complex">Complex</label>
    <input id="Complex" type="radio" name="options"
    [disabled]="disableSwitchWord"
    (click)="pickWordType(false)"><br>
</div><br>


<!-- The word forms -->
<div *ngIf="simple === true; then simpleword else complexword"></div>

<ng-template #simpleword>
    <app-word-form></app-word-form>
</ng-template>

<ng-template #complexword>
    <app-complex-word-form></app-complex-word-form>
</ng-template>

<hr>


<!-- the dictionary -->
<app-language-table
[Dictionary]="Dictionary"
Edit="true"
></app-language-table>