<div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <div [innerHTML]="mainText"></div>
    <div id="googleBtn" (click)="auth.googleLogin()"></div>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <h3>Welcome Back, {{ user.userName }}#{{ user.ID }}</h3>
        <p>
            Currently, there is no user specific content.  This will be launched at the second release!
            In the long term, I would like to include:
        </p>

        <button (click)="auth.logout()">Logout</button>
    </div>
</ng-template>