.compheader {
    display: flex;
    justify-content: center;
}

#splatter {
    display: flex;
    justify-content: center;
    background-repeat: repeat;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear4.png?alt=media&token=fc921624-299c-4470-b40e-a22d256f81dd);
}

.Accessibility {
    background-color: rgb(29, 29, 29);
    max-width: 550px;
    padding: 7px;
}

::ng-deep .Accessibility li {
    margin: 5px;
}

::ng-deep .Accessibility h4 {
    margin-left: 15px;
}