<form [formGroup]="Form">
    <h2 class="formstyle"> Extras Form:</h2>
    <hr>

    <p> Name: <input type="text" formControlName="Name"></p>

    <p>Thumb: <input #Thumb type="file" class="fileupload" (change)="getThumb($event)"></p>

    <p>FullImage: <input #Full type="file" class="fileupload" (change)="getFull($event)"></p>
    
    <p>Date (YYYY-MM-DD): <input type="text" formControlName="Date"></p>

    <p>Description:<br/> <textarea formControlName="Description" rows="15" cols="66"></textarea></p>

    <app-formButtons></app-formButtons>
</form>
