<form [formGroup]="Form">
    <h2 class="formstyle"> Extras Form:</h2>
    <hr>

    <p> Name: <input type="text" formControlName="Name"></p>

    <app-upload-main
    name="Extras Art"
    [ID]="0"
    [hasThumb]="true"
    [Settings]="imageSettings"
    ></app-upload-main>
    
    <p>Date (YYYY-MM-DD): <input type="text" formControlName="Date"></p>

    <p>Description:<br/> <textarea formControlName="Description" rows="15" cols="66"></textarea></p>

    <app-form-buttons></app-form-buttons>
</form>
