#splatter {
    background-repeat: repeat;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear4.png?alt=media&token=fc921624-299c-4470-b40e-a22d256f81dd);
}

.compheader {
    display: flex;
    justify-content: center;
}

#centering {
    display: flex;
    justify-content: center;
}

#mainContent {
    max-width: 1030px;
}

#preview {
    float: left;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    margin: 7px;
}

img#TG {
    height: auto;
    max-width: 100%;
    margin: 20px;
}

#spiel {
    float: left;
    max-width: 500px;
    margin: 7px;
}

::ng-deep #spiel div.textblock a.teaser {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

p#subtext {
    font-size: 12px;
    margin-top: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

::ng-deep #spiel div.textblock h3 {
    padding: 0px;
    margin: 0px;
}

::ng-deep #spiel div.textblock p.sorry {
    padding-top: 14px;
    font-size: 14px;
}