hr {
    border: 1px solid white;
    margin-top: 7px;
    margin-bottom: 7px;
}


h3 {
    margin: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

div#dates {
    font-size: 12px;
}

div.textblock {
    margin: 10px;
}