<div  id="outer" class="textblock">
    <div id="header">
        <h3>{{ note.Title }}</h3>
        <app-bookmark
        [path]="path"
        type="Favorites"
        [name]="name"
        [bookmarkImage]="false"
        ></app-bookmark>
    </div>


    <hr>
    <div class="textblock" [innerHTML]="note.Text"></div>
    <hr>
    <div id="dates">
        Date Posted: {{ note.Created }}
        <!-- <span *ngIf="note.TimeStampModified">Edited: {{ note.TimeStampModified }}</span> -->
    </div>
</div>
