<div class="background">
    <div class="compheader">
        <h2 class="compheader">Activities</h2> <br>
    </div>
    <hr>

    <!-- Activity choices -->
    <nav class="toggler" aria-label="Activity-Navigation">
        <div *ngFor="let link of links, let i = index" class="toggler">
            <input type="radio" class="toggler" name="activity" [id]="link.Title"
            (click)="pickActivity(i)" [checked]="selected === link.Link">
            <label class="toggler" [for]="link.Title"  tabindex="0"
            (keyup.enter)="pickActivity(i)">{{ link.Title }}</label>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>
