main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    background-color: rgb(53, 53, 53);
    max-width: 650px;
    border: 1px solid white;
}

h2 {
    padding: 10px;
    margin: 10px;
}

p {
    padding: 15px;
    text-align: justify;
}