div#splatter {
    position: relative;
    background-repeat: repeat;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear4.png?alt=media&token=fc921624-299c-4470-b40e-a22d256f81dd);
}

div.textblock {
    border: 1px solid white;
    max-width: 500px;
    float: left;
    margin: 10px;
}



/* the quickstart nightmare*/
div#quickstart {
    display: inline-block;
    background-color: #454545;
    border: 1px solid white;
    margin: 0px;
    max-width: calc(100vw - 50px);
}

h3#qsheader {
    margin: 7px;
}

div#buttonbox {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Frsz_2croccart.png?alt=media&token=911f5edc-3fdb-4067-bae3-acbcb3cdd583);
    display: flex;
    background-position: left 60%;
    max-width: inherit;
    min-width: inherit;
}

.strokeme {
    font-weight: bold;
    background: rgba(255,255,255,.75);
    text-align: center;
    padding: 0;
}

div#smallbuttons {
    min-width: 80px;
    width: 200px;
}

button#small {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

button#small2 {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

button#large {
    width: 200px;
    height: 200px;
    min-width: 80px;
    overflow: hidden;
}

button#large2 {
    width: 200px;
    height: 200px;
    min-width: 80px;
    overflow: hidden;
}

button:hover {
    background: rgba(255,255,255,.2)
}

button:active {
    background: rgba(0,0,0,.2)
}
