<div id="splatter">
  <br>

  <!-- INTRODUTCTION -->
  <div class="textblock" [innerHTML]="mainText"></div>

<!-- UPDATE FEED -->
  <div id="updatefeed">
    <div id="updatefeedheader">
      News Feed
      <hr>
    </div>
      <app-updatefeed></app-updatefeed>
  </div>



<!-- QUICK START GUIDE -->
  <div id="quickstart">
    <h3 id="qsheader">Quick Start Guide:</h3>
    <hr>
    <div id="buttonbox">
        <button class="strokeme" id="large"
        routerLink="/world/introduction">
        {{ buttonText[0] }}</button>
        
        <div id="smallbuttons">
            <button class="strokeme" id="small"
            routerLink = "/story/Scripts/Arc1/Chapter0">
            {{ buttonText[1] }}</button><br>
            <button class="strokeme" id="small2"
            routerLink="/comic/latest">
            {{ buttonText[2] }}</button>
        </div>
        <button class="strokeme" id="large2"
        routerLink="/playground">
        {{ buttonText[3] }}</button>
    </div>
  </div>


  <div style="clear:both"></div>
  <br>

  <!-- NEWEST AND CHANGELOG -->
    <app-show-newest
    contentType = "Newest Content"
    collectionName = "NewestCue"
    footerText = "See Change Log"
    contentLink = "/changelog"
    ></app-show-newest>
</div>
