<form [formGroup]="Form">
    <h2 class="formstyle">Beast Upload Form:</h2>
    <hr>

    <p>Beast Name: <input type="text" formControlName="Name"></p>

    <p>Phylogeny: <select formControlName="Phylo">
      <option *ngFor="let phy of dropDowns.Phylo" [value]="phy">
      {{ phy }}</option>
    </select></p>

    <p>Continent: <select formControlName="Region">
      <option *ngFor="let reg of dropDowns.Region" [value]="reg">
        {{ reg }}</option>
    </select></p>

    <p>Biome: <select formControlName="Biome">
      <option *ngFor="let bio of dropDowns.Biome" [value]=bio>
      {{ bio }}</option>
    </select></p>

    <p>Thumb: <input #Thumb type="file" class="fileupload" (change)="getThumb($event)"></p>

    <p>Full Image: <input #Full type="file" class="fileupload" (change)="getFull($event)"></p>
    
    <p>Alt Text:<br/>
    <textarea formControlName="AltText" rows="4" cols="66"></textarea></p>

    <app-formButtons></app-formButtons>
</form>