<main>

    <!-- HEADER -->
    <div class="container" class="compheader" role="header">
        <h2 class="compheader"> Nomadic Dictionary
            <div>Core Words: {{ CoreWords }}</div>
        </h2>
    </div>
    <hr>
    

    <!-- FILTER AND SORT -->
    <form [formGroup]="Form">
        <fieldset>
            <legend>Sort:</legend><br><br>
            <div class="Sort">
                <select formControlName="SortType" id="type"
                (change)="onSortType()">
                    <option *ngFor="let option of sortOptions"
                    [value]="option">
                    {{ option }}
                    </option>
                </select>
            </div>
        </fieldset>

        
        <fieldset>
            <legend>Filter:</legend><br><br>
            <div class="Sort">
                <label for="filterLevel" class="Tag">Level:</label>
                <select formControlName="FilterLevel" id="filterLevel"
                (change)="onFilterLevel()">
                    <option *ngFor="let option of levelFilterOptions"
                    [value]="option">
                    {{ option }}
                    </option>
                </select>
            
                <label for="filterType" class="Tag">Type:</label>
                <select formControlName="FilterType" id="filterType"
                (change)="onFilterType()">
                    <option *ngFor="let option of typeFilterOptions"
                    [value]="option">
                    {{ option }}
                    </option>
                </select>
        
                <label for="filterSubtype" class="Tag">Subtype:</label>
                <select formControlName="FilterSubtype" id="filterSubtype"
                (change)="onFilterSubtype()">
                    <option *ngFor="let option of subtypeFilterOptions"
                    [value]="option">
                    {{ option }}
                    </option>
                </select>
            </div>
        </fieldset>
    </form>
    

    <!-- LANGUAGE TABLE -->
    <table>
        <tr>
            <th>Indativor</th>
            <th>English</th>
            <th>Type</th>
            <th>Subtype</th>
            <th>Level</th>
            <th>Core</th>
            <th>Components</th>
        </tr>
        <tr *ngFor="let word of currentDict, let i = index">
            <td>{{ word.Indativor }}</td>
            <td>{{ word.English.split(';').join(', ') }}</td>
            <td>{{ word.Type }}</td>
            <td>{{ word.Subtype.split('/').join(', ') }}</td>
            <td>{{ word.Level }}</td>
            <td>{{ word.Core }}</td>
            <td>{{ word.Components.split(';').join(', ') }}</td>
            <td *ngIf="Edit"><button (click)="loadWord(i)">Edit</button></td>
        </tr>
    </table>

</main>

