<form [formGroup]="Form">
    <!-- <select formControlName="Type">
        <option value="Noun">Noun</option>
        <option value="Verb">Verb</option>
        <option value="Adjective">Adjective</option>
        <option value="Misc">Misc</option>
    </select> -->

    <p>English: <input formControlName="English"></p>

    <p>Indativor: {{ Form.controls.Indativor.value }} </p>

    <p>Level: {{ Form.controls.Level.value }}</p>

    <p>Type: {{ Form.controls.Type.value }}   </p>

    <p> Component Words:  <button (click)="addWord(true)">+</button>
        <button (click)="addWord(false)" [disabled]="!allowDelete">-</button>
    </p>

    <div formArrayName="ComponentWords">
        <div *ngFor="let word of WordArray.controls; let i = index"
        [formGroupName]="i">
            <p>Word {{ i + 1}}:
                <select formControlName="Type" (change)="pickType($event.target.value, i)">
                    <option value="Noun">Noun</option>
                    <option value="Verb">Verb</option>
                    <option value="Adjective">Adjective</option>
                    <option value="Misc">Misc</option>
                </select>
                <select formControlName="Word"
                (change)="pickWord()">
                    <option *ngFor="let word of
                    SortedDictionary[word.get('Type').value], let i = index"
                    [value]="word.Indativor">
                        {{ word.English }} / {{ word.Indativor }}</option>
                </select>
            </p>
        </div>
    </div>

    <app-formButtons></app-formButtons>
</form>
<div style="clear: both;"></div>
