<form [formGroup]="Form">
    <h2 class="formstyle">Story Upload Form:</h2>
    <hr>

        <p>Type: <select formControlName="Type">
            <option value="Narrative">Narrative</option>
            <option value="Script">Script</option>
        </select></p>
        
    <p>Series: <input type="text" formControlName="Series"></p>
        
    <p>Title: <input type="text" formControlName="Title"></p>
        
    <p>Section: <input type="number" class="short" formControlName="Section"></p>
        
    <p>Synopsis: <textarea rows="4" cols="66" formControlName="Synopsis"></textarea></p>
        
    <p>Story: <textarea formControlName="Story" rows="30" cols="66"></textarea></p>

    <app-formButtons></app-formButtons>
</form>
