<form [formGroup]="Form">
    <h2 class="formstyle">{{type | titlecase}} Form:</h2>
    <hr>
       
    <p>Series: <input type="text" formControlName="Series"></p>
        
    <p>Title: <input type="text" formControlName="Title"></p>
        
    <p>Section: <input type="number" class="short" formControlName="Section"></p>
        
    <p>Synopsis: <textarea rows="4" cols="66" formControlName="Synopsis"></textarea></p>
        
    <p>Story:<br> <textarea formControlName="Story" rows="30" cols="66"></textarea></p>

    <app-formButtons></app-formButtons>
</form>
