<form [formGroup]="Form">
<h2 class="formstyle">Character Form:</h2>
<hr>  
    
    <p>Name:<br>&nbsp;&nbsp;&nbsp;&nbsp;
    First <input class="medium" formControlName="FirstName" type="text">
    Last <input class="medium"  formControlName="LastName" type="text"></p>
    
    <p>Class:
    <select formControlName="SMClass">
        <option *ngFor="let sm of DropDowns.class"
        [value]="sm">{{ sm }}</option>
    </select></p>
    
    <p>Occupation:
    <input type="text" formControlName="Occupation"></p>
    

    <p>Nationality:<br>&nbsp;&nbsp;&nbsp;&nbsp;
    
    Country <select formControlName="Country"
        (change)="updateTerritory($event.target.value)">
        <option *ngFor="let country of DropDowns.countries; let i = index"
        [value]="country.id">
        {{ country.id }}</option>
    </select>
    
    Territory <select formControlName="Territory">
        <option *ngFor="let terr of activeRegion"
        [value]="terr">{{ terr }}</option>
    </select></p>


    <p>Ethnicity:
    
        <select formControlName="Ethnicity1"
    (change) = "updateColor($event.target.value, 1)"
    [style.background-color]="toneColor1">
        <option *ngFor="let peep of DropDowns.Ethnicity"
        [style.background-color]="peep.hex"
        [value]="peep.id">{{ peep.id }}</option>
    </select> / 
    
    <select formControlName="Ethnicity2"
    (change) = "updateColor($event.target.value, 2)"
    [style.background-color]="toneColor2">
        <option *ngFor="let peep of DropDowns.Ethnicity"
        [style.background-color]="peep.hex"
        [value]="peep.id">{{ peep.id }}</option>
    </select></p>
    
    <p>Age:<br>&nbsp;&nbsp;&nbsp;&nbsp;

    Years: <input formControlName="Age" class="short" type="number">, 

    Birth Date: <input formControlName="Year" class="short" type="number">

    <select formControlName="Era">
        <option *ngFor="let era of DropDowns.Era"
        [value]="era">{{ era }}</option>
    </select> 

    <select formControlName="Qt"
    (change)="updateAge($event.target.value)">
        <option *ngFor="let qt of DropDowns.Quartrits; let i = index"
        [value]="qt">{{ qt }}</option>
    </select> 

    <select formControlName="Day">
        <option *ngFor="let day of daysArray; let i = index"
        [value]="i+1">{{ i+1 }}</option>
    </select>({{ Form.controls.Zodiac.value }})</p>


    <p>Height:<br>&nbsp;&nbsp;&nbsp;&nbsp;
    <input formControlName="Ft" class="short" type="number"
    (change)="updateCM()"
    (blur)="updateCM()">ft 
    <input formControlName="Inch" class="short" type="number"
    (change)="updateCM()"
    (blur)="updateCM()">in, or
    <input formControlName="Cm" class="short" type="number"
    (change)="updateFtIn()"
    (blur)="updateFtIn()">cm
    </p>
    

    <p>Distinguishing Marks: <br>
    <textarea formControlName="DistinguishingMarks" rows="2" cols="65"></textarea></p>



    <p>Personality:<br>
    <textarea formControlName="Personality" rows="6" cols="65"></textarea></p>

    <p>Philosophy:<br>
    <textarea formControlName="Philosophy" rows="2" cols="65"></textarea></p>

    <p>Motivations/Goals:<br>
    <textarea formControlName="MotivationsGoals" rows="2" cols="65"></textarea></p>

    <p>Strengths:<br>
    <textarea formControlName="Strengths" rows="2" cols="65"></textarea></p>

    <p>Weaknesses:<br>
    <textarea formControlName="Weaknesses" rows="2" cols="65"></textarea></p>



    <p>Source Abilities:</p>
    <div style="width:450px;" formArrayName="SourceAbilities">
        <div *ngFor="let ability of SourceAbilitiesArray.controls; let i = index"
        [formGroupName]="i">
            <div style="float:left; width:45%">
                <input type="checkbox" formControlName="Known">
                {{ ability.controls.Ability.value }}
            </div>
        </div>
    </div>

    <div style="clear: both"></div>
    <div formGroupName="Unique" style="float:left">
            <input type="checkbox" formControlName="Known" name="Unique"
            (change)="allowUnique($event.target.checked)"> Unique &nbsp;&nbsp;
        <div *ngIf="showUnique===true" style="float:left">
            <input type="text" formControlName="Ability">
        </div>
    </div>
    <div style="clear: both"></div>



    <p>Family in Story:
        <button type="button" (click)="addRelative(true)">+</button>
        <button type="button" (click)="addRelative(false)">-</button></p>
    <div formArrayName="Relations">
        <div *ngFor="let relative of RelationsArray.controls; let i = index"
        [formGroupName]="i">
            Name: <input type="text"
            formControlName="RelationName">
            
            Relation: <input type="text"
            formControlName="Relationship">
            <br>    
        </div>
    </div>
    

    <p> Background in Brief:<br>
    <textarea formControlName="BriefBackground" rows="2" cols="65"></textarea></p>
    
    <p>Background in Full: <br>
    <textarea formControlName="FullBackground" rows="6" cols="65"></textarea></p>    



    <p>Bio Picture: <br><input class="fileupload"  #bioPic type="file" (change)="uploadBioPic($event)"
    accept=".png,.jpg"></p>

    <p>Other References:<br>
        <button type="button" (click)="addRef(true)">+</button>
        <button type="button" (click)="addRef(false)">-</button></p>
    <div formArrayName="ReferenceIDs">
        <div *ngFor="let refs of ReferencesArray.controls; let i = index"
        [formGroupName]="i">
            Reference {{ i+1 }}:<br>
            ID: <br>
            <input type="text" formControlName="Ref" class="long"><br>
            Main:<br>
            <input class="fileupload" type="file"
            (change)="uploadFull($event, i)"><br>
            Thumb:<br>
            <input class="fileupload" type="file"
            (change)="uploadThumb($event, i)"><br><br>
        </div>
    </div>
    <!-- <app-formButtons></app-formButtons> -->
</form>