div#outer {
    border: 1pt solid white;
    background-color: rgb(49, 49, 49);
    margin: 7px;
}

div#match {
    float: right;
    margin: 5px;
}

h3 {
    margin: 5px;
    padding: 0px;
}

button {
    margin: 10px;
}