div#outer {
    background-color: rgb(69, 69, 69);
    width: 400px;
    padding: 7px;
}

a {
    display: flex;
    color: rgb(241, 241, 241);
    width: 100%;
    padding: 0px 5px 0px 5px;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}

a:hover {
    background-color: rgb(100,100,100);
}

a:active {
    background-color: rgb(180,180,180);
}

.linker {
    display: flex;
}

h5 {
    font-size: 18px;
    padding-bottom: 3px;;
    margin: 0px;
}

section.bookmark {
    margin: 20px;
}