
<!-- Conatainer -->
<app-scroll-frame
[Title]="'Your Bookmarks'"
[Color]="'rgb(49, 49, 49)'">
  <div id="outer">
    <div *ngIf="dataExists === true; then display else notsaved"></div>
  </div>
</app-scroll-frame>


<!-- Favorites -->
<ng-template #display class="outer">
    <!-- <section *ngFor="let type of data" class="bookmark">
      <h5>{{ type.Type }}:</h5>
      <span class="linker" *ngFor="let link of type.Data; let i = index">
        <button class="Exs" type="button"
        [attr.aria-label]="'Delete-Bookmark:-' + link.Name"
        (click)="onDelete(type.Type, i)">x</button>
        <a [routerLink]="'/'+ link.Link">
            {{ link.Name }}
        </a><br>
      </span>
    </section> -->
    <div *ngFor="let bmt of data">
      <h5>{{ bmt.Name }}:</h5>
      <app-master-link-list class="UserFavoriteData"
      [linkList]="bmt.LinkList">

            <!-- Label template -->
            <ng-template let-list #Label>
              <span id="type">{{ list.Name }}:</span>
            </ng-template>
            
            <!-- List Element Template -->
            <ng-template let-item #Item>
              <!-- Delete -->
              <span *ngIf="item.Item">
                  <button class="Exs" type="button" tabindex="-1"
                  attr.aria-label="Delete-Bookmark"
                  (click)="onDelete(item.Item.Type, item.Item.Index)">x</button>
              </span>
              <!-- View -->
              <span *ngIf="!item.Item">{{ item.ListName }}</span>
             </ng-template>

      </app-master-link-list>
    </div>
  </ng-template>


  <!-- No favorites -->
  <ng-template #notsaved class="outer">
    <p>
      You have not saved your place anywhere.
    </p>
  </ng-template>
