div.background {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear5.png?alt=media&token=ba18f0e4-f934-42a9-89c1-25881fcc0612);
}

.toggler {
    margin: 4px 1px 4px 1px;
}