<div id="outer">
  <form [formGroup]="Form">
      <div>
        <h2>Calculate Source Affinity Cost</h2>
        <hr>
      </div>
    
      <p>Abilities:
          <button type="button" (click)="addAbility()">+</button>
      </p>
      
      <div formArrayName="Abilities">
          <div *ngFor="let newAbility of abilitiesArray.controls; let i = index"
          [formGroupName]="i">
          <div class="stayTogether">
              Ability: 
              <select formControlName="Ability">
                  <option *ngFor="let ability of abilityKeys; let i = index"
                  [value]="ability">
                      {{ abilityNames[i] }}
                  </option>
              </select>  
          </div>
          <div class="stayTogether">
              &nbsp; Mastery:
              <select formControlName="Mastery">
                <option *ngFor="let master of mastery; let j = index" [value]="j">
                  {{ master }}
                </option>
              </select>

              <button type="button" (click)="removeAbility(i)">-</button>
          </div>
          <br><br>
        </div>
      </div>
    
      <br>
    
      <div class="stayTogether">
          Esarian Genetics:
          <input class="short" formControlName="EsarianGenes"
          type="number" min="0" max="1" step=".05">&nbsp;
      </div>
    
      <div class="stayTogether">
          Connection Genetics:
          <input class="short" formControlName="ConnectionGenes"
          type="number" min="0" max="1" step=".05">
      </div>
      <br>
    
      <p>
        <button type="button" (click)=onSubmit()>Submit</button>&nbsp;
        <button type="button" (click)=onReset()>Reset</button>
      </p>
    </form>
    <div id="Error" *ngIf="error">{{ error }}</div>
    <div id="Results" *ngIf="result">
      Source Affinity Cost: {{ result }} <br>
      Source Magician Status: {{ rank }}
    </div>      
</div>