<div class="textblock">
  <p>Well, this isn't good...</p>
  <p>If you ended up here, then one of two things have happened:  Either your connection is sketchy and cannot reach my server in a timely fashion or my server is misbehaving.  If you bring up the developer console (F12 key) and see a red error message telling you that your connection is not healthy, that is the issue.  If your connection is fine, please send a support request!</p>
  <p><a routerLink="contact">Contact Me About Server Issues</a><br>
    <span id="info">Please tell me what page you tried to navigate to in the request!</span>
  </p>
</div>
