<form [formGroup]="Form">
    <h2 class="formstyle">About:</h2>
    <hr>

    <p>Hello:<br>
    <textarea formControlName="Hello" rows="8" cols="66"></textarea></p>

    <p>Story:<br>
    <textarea formControlName="Story" rows="8" cols="66"></textarea></p>

    <p>Me:<br>
    <textarea formControlName="Me" rows="8" cols="66"></textarea></p>

    <p>Website:<br>
    <textarea formControlName="Website" rows="8" cols="66"></textarea></p>

    <app-formButtons></app-formButtons>
</form>

<div class="WYSIWYG" [innerHTML]="Form.controls.Hello.value"></div>
<div class="WYSIWYG" [innerHTML]="Form.controls.Story.value"></div>
<div class="WYSIWYG" [innerHTML]="Form.controls.Me.value"></div>
<div class="WYSIWYG" [innerHTML]="Form.controls.Website.value"></div>

<div style="clear: both"></div>