<div class="compheader">
        <h2 class="compheader">Copyright and Fairuse Related to My Work</h2>
    </div>
<hr>

<h4 class="dent">Overview:</h4>
<div class="MainState">
    <p>All my work under standard &copy;.  Thus, everything I have posted here is copyrighted, and is not in the public domain.  This means that you may not without my permission:</p>
    <ul>
        <li>Reproduce my work</li>
        <li>Distribute my work</li>
        <li>Publicly display my work</li>
        <li>Alter my work</li>
        <li>Create derivatives of my work</li>
    </ul>
    <p>Thus, forbidden activities include: tracing my art, reposting my work (art or writing) on other websites, selling my art as is or as a derivative product, etc. without my <u>explicit</u> consent.  This is true except in cases of fair use (e.g. educational, non-profit uses), which is a tricky subject in and of itself. Please do not be afraid to ask me about uses however!  I need to maintain control over my work, but that doesn't mean I will automatically say "no" if you ask me for permission to do something.  I try to be very chill about granting use. </p>    
</div>

<h4 class="dent">How to cite me:</h4>
<div class="MainState">
    <p>Always cite me in a visible and legible font.  When possible, please make citations as links to my website or deviantArt account.  If you are reposting my content publicly, please inform me of your use, so that I am aware it exists.</p>
    <ul>
        <li>If you want to refer to my main website (this):<br/>
        <ul>
          <li>kArA, Arecace.com</li>
        </ul>
      </li>
        <br/>
      <li>If you want to refer to my dA account, either:<br/>
        <ul>
            <li>deviantart.com/chikara-redwing</li>
            <li>or embed any content you are reposting using the code deviantArt provides.</li>
        </ul>
       
      </li>
    </ul>    

    <p>When in doubt about fair use, ask for my permission; again, I'm generally reasonable and willing, and I will accept requests that are critical of my work or seek to satirize it.  You can contact me on dA via comment on the piece you are interested in or by sending me a private note.  If a more extensive conversation is required, please contact me via PM on discord.</p>
</div>

<hr>
<div class="compheader">
        <h2 class="compheader">Fans and Fanon</h2>
    </div>
<hr>

<div class="MainState">
<p>You may have noticed that copyright covers derivative works, which would include fan works.  No matter how you hash it or what excuses you make, posting (aka publishing) fan fiction and fan art publicly online does affect the original holder's copyright, just like distributing free or pirated copies of the work does (though I would agree, the former is much less offensive than the latter).</p>
<p>But hey, I’m a reasonable human.   I do believe there is some magic for fans when they play in the world the creator builds, and I don’t want to crush that.</p>
</div>

<h4 class="dent">Things I totally okay with:</h4>
<ul>
    <li>Fan works made as a gift for me.  I’m happy to look at this.</li>
    <li>Fan characters.  I probably can’t look at these until I finish my story to avoid people saying that I’m making my characters by copying theirs. :/</li>
    <li>Fan works you make for yourself or your friends group.  I don’t want to see these either.  I may be more lenient about this in the future when I have all my arcs scripted. </li>
    <li>RPs.  But if I’m not hosting, I don’t want to see it, or know, or be involved.</li>
    <li>Artists and writers taking commissions to draw/write content related to my world.  However, do not make products and THEN try to sell them UNLESS you get my permission.  The former is filling a niche I can’t fill.  The latter is affecting a market that I could potentially take advantage of and thus my copyright.</li>
</ul>

<h4 class="dent">Things I really do not appreciate:</h4>
<ul>
    <li>I do not like entities devoted largely or entirely to fanon.  I don't mean like fan clubs, where everyone is contributing.  Those are fine.  I mean individuals where the clear majority of what they post on whatever website is fan stuff for one thing, often their head canon with their fan character(s).</li>
    <li>Please don’t act like your fanon is better than my canon.  I'm not saying that I always make the right choices.  I don't.  Please critique the crap out of me, so I can get better.  However, don’t go and rewrite my story “your way.”</li>
    <li>Alternate Universes (AU).  Look, AUs are obnoxious.  They really are.</li> 
    <li>Sexualizing my characters and other fetish-related art. </li>
    <li>"You stole my idea!"  This is the paragon of disrespectful.</li>
    <li>Tracing or sight tracing (aka being a human photocopier), recolors, ect to make fanart or fan characters.</li>
</ul>

<div class="MainState">
    <p>All of this said, I am not the thought police, so I will not try and stop you from doing what you like in private.  But keep it away from me please.
</div>

<h4 class="dent">Why should you try to respect my wishes?</h4>
<ul>
    <li>So I never have to enforce my copyright.</li>
    <li>So we don’t have as much drama.</li>
    <li>So I feel inclined to keep giving away content for free, even once I have the main arcs finished.</li>
    <li>So I feel inclined to engage with the community, because we’re all on the same page about what I feel legally safe to view and not view.</li>
</ul>
