::ng-deep div.MainState{
    padding-left: 50px;
    max-width: 800px;
}

::ng-deep h4.dent {
    padding-left: 25px;
}

::ng-deep div.MainState div#disclaimer {
    max-width: 800px;
}

::ng-deep ul {
    max-width: 800px;
    padding-left: 75px;
}

::ng-deep ul li{
    font-size: 16px;
}

::ng-deep div.MainState ul li{
    font-size: 18px;
}
