ul#outer {
    background-color: rgb(69, 69, 69);
    width: 400px;
    padding: 7px;
}

h4 {
    padding: 7px;
    margin: 0px;
}

ul.top {
    margin: 0;
    padding: 0;
}

li.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: calc(100% - 10px);
}

::ng-deep app-link-list.DiplayUserData li {
    display: inline-block;
}

::ng-deep app-link-list.DiplayUserData span {
    display: inline-block;
    margin: 3px;
}
button {
    margin: 0px
}