<section id="background" *ngIf="pixels$ | async as pixels" aria-label="Pixel-Art">
  <div *ngFor="let pixel of pixels">

    <!-- Artist Link -->
    <div *ngIf="pixel.ArtistLink">
        <a [href]="pixel.ArtistLink">
            <img [src]="pixel.Links[0]" [title]="'By ' + pixel.Artist + ', ' + pixel.Date">
        </a>
    </div>

    <!-- no artist link -->
    <div *ngIf="!pixel.ArtistLink">
        <img [src]="pixel.Links[0]" [title]="'By ' + pixel.Artist + ', ' + pixel.Date">
    </div>
  </div>
</section>