<h3>Nomadic Dictionary</h3>
<table>
    <tr>
        <th>Indativor</th>
        <th>English</th>
        <th>Type</th>
        <th>Level</th>
        <th>Core</th>
        <th>Components</th>
    </tr>
    <tr *ngFor="let word of Dictionary, let i = index">
        <td>{{ word.Indativor }}</td>
        <td>{{ word.English }}</td>
        <td>{{ word.Type }}</td>
        <td>{{ word.Level }}</td>
        <td>{{ word.Core }}</td>
        <td>{{ word.Components }}</td>
        <td><button (click)="loadWord(i)">Edit</button></td>
    </tr>
</table>