<h3>Nomadic Dictionary</h3>
<div>Core Words: {{ CoreWords }}</div>
<div *ngFor="let option of sortOptions" id="optionHolder">
    <div class="sortOption">
        <input type="radio" name="sorter"  [id]="option"
        [checked]="option === 'All'"
        (click)="onSort(option)">
        <label [for]="option">{{ option }}</label>    
    </div>
 </div>
 <div style="clear: both;"></div>

<table>
    <tr>
        <th>Indativor</th>
        <th>English</th>
        <th>Type</th>
        <th>Subype</th>
        <th>Level</th>
        <th>Core</th>
        <th>Components</th>
    </tr>
    <tr *ngFor="let word of Dictionary, let i = index">
        <td>{{ word.Indativor }}</td>
        <td>{{ word.English }}</td>
        <td>{{ word.Type }}</td>
        <td>{{ word.Subtype }}</td>
        <td>{{ word.Level }}</td>
        <td>{{ word.Core }}</td>
        <td>{{ word.Components }}</td>
        <td><button (click)="loadWord(i)">Edit</button></td>
    </tr>
</table>