div#holder {
    min-height: 80vh;
}

div.compheader {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

h2 {
    flex-shrink: 1;
    margin: 0px;
    padding: 0px;
    overflow-wrap: break-word;
    max-width: calc(100vw - 102px);
}

div#insig {
    min-width: 230px;
    max-width: 300px;
    min-height: 560px;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
}


div.textblockcontainer {
    position: relative;
    display: block;
    float: left;
    max-width: 780px;
}

div.textblock {
    display: block;
    min-width: 300px;
    float: none;
}

div#compstretcher {
    margin-right: 7px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

app-bookmark {
    align-self: stretch;
    flex-grow: 0;  
}

