<div id="holder">
    <div class="textblockcontainer">

        <!--Header-->
        <header>
            <div class="compheader">
                <div id="compstretcher">
                    <h2>{{ guild.GuildName }}</h2>
                </div>

                <app-bookmark
                [path]="path"
                type="Favorites"
                [name]="name"
                [bookmarkImage]="false"
                ></app-bookmark>
            </div>
            <hr>
        </header>

        <!--Body--> 
        <div id="insig">
            <div *ngIf="loading===true" class="loading"></div>
            <img [src]="guild.Links[0]" (load)="loading=false"
            [alt]="guild.AltText" [hidden]="loading"> 
        </div>
        
        <div class="textblock">
            <b>Current Master: </b>{{ guild.Master }}<br>
            <b>Founded: </b>{{ guild.Founded }} DE<br>
            <b>Host Territory: </b>{{ guild.Host }}<br>    
        </div>
        <br>
        
        <div class="textblock">
            <b>Description: </b>{{ guild.Description }}<br>
        </div>
        <br>

        <div class="textblock">
            <b>Brief History: </b>{{ guild.History }}<br>
        </div>

    </div><br>
</div>
