<form [formGroup]="Form" onSubmit="return false;">
  <h2>{{ Name }}:</h2>

  <div formArrayName="Answers">
      <div *ngFor="let question of Questions; let i = index"
      [formGroupName]="i">

        <div class="question">
          <h3>{{ i+1 + ') ' + question.Question }} </h3>
          
          <p *ngFor="let answer of question.Answers; let j = index">
              <input type="radio" [value]="j" formControlName="Answer" [id]="i + ',' + j">
              <label [for]="i + ',' + j">{{ answer }}</label>
          </p>
      </div>
      <br>

      </div>
      <button [disabled]="!Form.valid" (click)="onSubmit()">Submit</button>
  </div>

</form>