<div #container class="linklistcontainer">

    <svg id ="greyband" [style.height.px]="greybarHeight">
        <rect width="100%" height="100%" style="fill:#616161"/>
    </svg>


    <nav id="linklistHolder"
    [style.max-height.px]="listHeight"
    (window:resize)="onResize()"
    aria-label="Content-Navigation">

    <span #list>
    <app-master-link-list
    class="options"
    [style.max-width.px]="250"
    [linkList]="linkList"
    [current]="current"
    [queryParamsHandling]="queryParamsHandling">

              <!-- Label template -->
              <ng-template let-list #Label>
                <hr *ngIf="list.Name !== linkList[0].Name">
                    <div class="linklistlabel" id="type">{{ list.Name }}</div>
                <hr>
              </ng-template>
              
              <!-- List Element Template -->
              <ng-template let-item #Item>
                {{ item.ListName }}
              </ng-template>

        </app-master-link-list>
        <!-- <ul #list class="menubar"
        [attr.tabindex]="leave === true ? -1 : 0"
        (keydown)="handleKeyDown($event)" (focus)="focus()">    
            <li *ngFor="let list of linkList, let i = index"
            class="menuitem" aria-labelledby="type">

                <hr *ngIf="i!==0">
                <div class="linklistlabel" id="type">{{ list.Name }}</div>
                <hr>

                <app-link-list class="options"
                [style.max-width.px]="250"
                [label]="list.Name"
                [list]="list.Data"
                [current]="current"
                [queryParamsHandling]="queryParamsHandling"
                (lableEmitter)="onSelect($event)">
                    <ng-template let-item #Item>
                      {{ item.ListName }}
                    </ng-template>
                </app-link-list>
            </li>
        </ul> -->

    </span>
    </nav>



</div>
