div#splatter {
    display: flex;
    align-items: center;
    flex-flow: column;
    background-repeat: repeat;
    background-color: rgb(53, 53, 53);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/arecaceworld.appspot.com/o/WebSite%2Fsmear6.png?alt=media&token=b42c567e-c131-4c08-9f95-7858a976060e);
}

div#maxTop {
    display: flex;
    justify-content: center;
    width: 100%;
    background:#454545;
    border-bottom: 3px solid white;
}

#storynav {
    max-width: 100%;
    width: 900px;
    display: flex;
}

fieldset {
    border: 0px;
}

label {
    border: 0px;
    padding: 0px;
}

#radio {
    padding: 3px;
    flex-shrink: 0;
    width: 110px;
    align-self: center;
}

#dropbox {
    border-left: 2px solid white;
    flex-shrink: 2;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px 0px 3px 3px;
}

.drops {
    display: inline-block;
    padding-top: 7px;
}

select {
    max-width: 187px;
    margin-right: 7px;
}

div.loading {
    float: left;
    height: 33px;
    width: 33px;
}

app-bookmark {
    margin-left: 7px;
}
