<div id="splatter">
  <div id="maxTop">
    <nav id="storynav" aria-label="Story-type-Series-and-Title-navigation">
  
      <!--Info from urlsegment 1-->
      <fieldset id="radio" aria-label="Story-Type">
          <input type="radio" name="storytype" id="Script"
          [checked]="storyType === 'Scripts'"
          (change)="updateType('Scripts')">
          <label for="Script">Scripts</label>
          <br>
          <input type="radio" name="storytype" id="Narrative"
          [checked]="storyType === 'Narratives'"
          (change)="updateType('Narratives')">
          <label for="Narrative">Narratives</label>
      </fieldset>
  
      <div *ngIf="localLoading===true" class="loading"></div>
      <div [hidden]="localLoading" id="dropbox">

          <!--Info from urlsegment 2-->
          <div class="drops" [style.display]="this.localLoading ? 'none' : 'inline-block'">
            Series:
            <select (change)="changeSeries($event.target.value)">
              <option *ngFor="let series of seriesIDs, let i = index"
              [selected]="series === currentSeries"
              [value]="series">
                {{ seriesNames[i] }}
              </option>
            </select>
          </div>
          
          <!--Info from urlsegment 3-->
          <div class="drops">
            Section:
            <select (change)="changeSection($event.target.value)">
              <option *ngFor="let title of titlesInSeries"
              [selected]="title.ID===currentSection"
              [value]="title.ID">
                {{ title.Title }}
              </option>
            </select>
          </div>

        </div>

      <app-bookmark
      [type]="storyType"
      [path]="path"
      [name]="name"
      ></app-bookmark>  
      
    </nav>
  </div>

    <router-outlet></router-outlet>
</div>